@model IEnumerable<nextapp.Models.Solicitud>

@{
    ViewData["Title"] = "Solicitudes de equipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="display-4">Solicitudes de equipos</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <div class="container-fluid">
        <div class="col-md-12 col-12 mb-5">
            <div class="card shadow">
                <div class="row">

                    <div class="col-sm-12 col-md-6">
                        <div style="display:flex;">

                            <div class="m-2">

                                <a href="~/Home/Index" class="btn btn-primary btn-sm">

                                    <img src="~/img/back.svg" width="18" />
                                    Return
                                </a>
                            </div>

                            <div class="m-2">
                                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    <img src="~/img/add.svg" width="20" />
                                    Nuena solicitud
                                </button>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="dataTableBasic_filter">

                            <div class="m-2">
                                <input type="search" class="form-control form-control-sm" placeholder="Search" id="search">

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card-body pt-2">

                        <div class="table-responsive">

                            @if (Model.Count() > 0)
                            {

                                <table class=" table table-sm table-hover text-nowrap" id="table">

                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.id_Solicitud)
                                            </th>

                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.nombre)
                                            </th>

                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.apellido)
                                            </th>

                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.codigo_empleado)
                                            </th>

                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.correo)
                                            </th>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.telefono)
                                            </th>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.cargo)
                                            </th>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.tipo_solicitud)
                                            </th>
                                            <th scope="col">

                                                @Html.DisplayNameFor(model => model.tecnico_asignado)
                                            </th>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.fecha_solicitud)
                                            </th>

                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.mensaje)
                                            </th>

                                            <th scope="col">
                                                Acciones
                                            </th>
                                        </tr>
                                    </thead>


                                    @foreach (var item in Model)
                                    {

                                        <tbody>
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.id_Solicitud)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.nombre)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.apellido)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.codigo_empleado)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.correo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.telefono)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.cargo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tipo_solicitud)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tecnico_asignado)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.fecha_solicitud)
                                                </td>


                                                <td>
                                                    @Html.DisplayFor(modelItem => item.mensaje)
                                                </td>

                                                <td>
                                                    <a href="/Solicitud/Delete?id_Solicitud=@item.id_Solicitud" class="btn btn-danger btn-sm">
                                                        Delete
                                                    </a>
                                                    <a href="/Solicitud/Edit?id_Solicitud=@item.id_Solicitud" class="btn btn-warning btn-sm">
                                                        Edit
                                                    </a>

                                                </td>

                                            </tr>

                                        </tbody>

                                    }

                                </table>

                            }
                            else
                            {
                                <div class="p-4">
                                    <div class="">
                                        <div class="row">

                                            <div class="card shadow">

                                                <p class="justify-content-center text-center text-muted p-2">
                                                    Aun no hay empleados registrados
                                                </p>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            }


                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create New</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="row needs-validation" asp-action="Create" asp-controller="Portal" novalidate>

                        <div class="mb-3 col-12 col-md-6">
                            <label class="form-label text-label" for="fnombre">Nombre</label>
                            <input type="text" class="form-control form-control-sm" id="fnombre" name="nombre" required>
                            <div class="valid-feedback">
                                Ingresando nombre
                            </div>
                            <div class="invalid-feedback">
                                Ingrese un nombre
                            </div>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label class="form-label text-label" for="fapellido">Apellido</label>
                            <input type="text" class="form-control form-control-sm" id="fapellido" name="apellido" required>
                            <div class="valid-feedback">
                                Ingresando apellido
                            </div>
                            <div class="invalid-feedback">
                                Ingrese un apellido
                            </div>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label class="form-label text-label" for="fcodigEmpleado">Codigo empleado</label>
                            <input type="text" class="form-control form-control-sm" id="fcodigEmpleado" name="codigo_empleado" required>
                            <div class="valid-feedback">
                                Ingresando codigo
                            </div>
                            <div class="invalid-feedback">
                                Ingrese un codigo
                            </div>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label class="form-label text-label" for="fcorreo">Correo</label>
                            <input type="text" class="form-control form-control-sm" id="fcorreo" name="correo" required>
                            <div class="valid-feedback">
                                Ingresando correo
                            </div>
                            <div class="invalid-feedback">
                                Ingrese un correo
                            </div>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label class="form-label text-label" for="ftelefono">Telefono</label>
                            <input type="text" class="form-control form-control-sm" id="ftelefono" name="telefono" required>
                            <div class="valid-feedback">
                                Ingresando telefono
                            </div>
                            <div class="invalid-feedback">
                                Ingrese numero de telefono valido
                            </div>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label class="form-label text-label" for="fcargo">Cargo</label>
                            <input type="text" class="form-control form-control-sm" id="fcargo" name="cargo" required>
                            <div class="valid-feedback">
                                Ingresando cargo
                            </div>
                            <div class="invalid-feedback">
                                Ingrese un cargo
                            </div>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label class="form-label" for="ffecha">Fecha de solicitud</label>
                            <input type="date" class="form-control flatpickr flatpickr-input active" id="ffecha" name="fecha_solicitud">
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="selectOne">
                                Tipo de solicitud
                            </label>
                            <select name="tipo_solicitud" class="form-control">
                                <option value="Asignacion">Asignacion</option>
                                <option value="Prestamo">Prestamo</option>
                                <option value="Consulta">Consulta</option>
                                <option value="Informacion">Informacion</option>

                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="fmensaje">Mensaje</label>
                            <textarea class="form-control" id="fmensaje" rows="5" placeholder="Your Mensaje here..." spellcheck="false" minlength="10" name="mensaje" required></textarea>
                        </div>


                        <div class="d-grid pb-4">
                            <button type="submit" class="btn btn-success" value="Create">Solicitar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/Search.js"></script>
</body>
</html>
